{% extends 'base.html.twig' %}

{% block title %}Edit Vaquillas{% endblock %}

{% block body %}
    <h1>Edit Toros</h1>

    {{ include('vaquilla/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vaquilla_index') }}">back to list</a>

    {{ include('vaquilla/_delete_form.html.twig') }}
{% endblock %}
