{% extends 'base.html.twig' %}

{% block title %}Vaquillas index{% endblock %}

{% block body %}
    <h1>Vaquillas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Plaza</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vaquilla in vaquilla %}
            <tr>
                <td>{{ vaquilla.id }}</td>
                <td>{{ vaquilla.plaza }}</td>
                <td>
                    <a href="{{ path('vaquilla_show', {'id': vaquilla.id}) }}">show</a>
                    <a href="{{ path('vaquilla_edit', {'id': vaquilla.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vaquilla_new') }}">Create new</a>
{% endblock %}
