{% extends 'base.html.twig' %}

{% block title %}Vaquillas{% endblock %}

{% block body %}
    <h1>Vaquillas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vaquilla.id }}</td>
            </tr>
            <tr>
                <th>Plaza</th>
                <td>{{ vaquilla.plaza }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vaquilla_index') }}">back to list</a>

    <a href="{{ path('vaquilla_edit', {'id': vaquilla.id}) }}">edit</a>

    {{ include('vaquilla/_delete_form.html.twig') }}
{% endblock %}
